html,body{
    margin:0px;
    padding:0px;
}
div{
    display: block;
}
span{
	color: #000000;
}

#examMain{
	margin: 0 auto;
	width: 1000px;
}

#examTitle{
	width: 1000px;
	height: 100px;
}
#examTitle h1{
	color: #000000;
	text-align: center;
	padding-top: 20px;
}
#libitems{
	width: 1000px;
	height: 170px;
	padding-top: 10px;
	font-size: 18px;
}
#libitems{
	padding-left: 20px;
}
#libABCD{
	padding-left: 20px;
}

