html,body{
    margin:0px;
    padding:0px;
}
div{
    display: block;
}
span{
	color: #fff;
}

#examMain{
	margin: 0 auto;
	width: 1000px;
	height: 1300px;
	background-color: red;
}

#examTitle{
	width: 1000px;
	height: 100px;
	background-color: blue;
}
#examTitle h1{
	color: #fff;
	text-align: center;
	padding-top: 20px;
}
#libitems{
	width: 1000px;
	height: 170px;
	background-color: green;
	padding-top: 10px;
}

